*{
	padding: 0;
	margin: 0; 
}
#head{
	color: #073191;
	font-size: 70px;
	text-align: center;
	letter-spacing: 2px;
	width: 100vw;
	line-height: 100px;
	background-color: #d9c61a;
}
#acHead{
color: white;
background-color: black;
 width: 250px;
 text-align: center;
}
.mainOfUser{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 25px;
	margin-left: 20px;
}
.userDetails{
	display: flex;
	flex-wrap: wrap;
	color: black; 
	padding: 10px;
	border-bottom: 2px solid black;
	width: 250px;
}
.userDetails:hover{
	color: white;
	transform: translateX(10px);
	border-radius: 100px;
	background-color: green;
	justify-content: center;
	min-height: 10px;
	width: 200px;
}


.userName{
	display: flex;
	flex-direction: column;
	color: green;
	transform: translate(300px,-700px);
	font-size: 30px;
	font-family: sans-serif;
}
.menu{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 25px;
	margin-left: 20px;
}
.Insidemenu{
	transform: translate(300px,-680px);
	padding: 20px;
	font-size: 25px;
	background-color: darkgrey;
	line-height: 5px;
	font-weight: bold;
	border-right:  2px solid black;
}

.menuDetails{
	transform: translate(300px,-650px);
	font-size: 23px;
}
#fundHead{
	color: red;
	font-size: 30px;
}

.btn{
	color: red;
	margin-top: 10px;
	margin-left: 230px;
	height: 20px;

}
.formDetails{
	margin-top: 10px;
	color: red;
	transform: translate(300px,-650px);
	display: flex;
	flex-direction: column;
	width: 600px;
	font-size: 40px;
}
#foot{
	/*foot class is used to give the style Footer*/
	color: #5C6F83;
	background-color: #1A2735;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 3px;
	line-height:30px;
}
input[type=submit]
{
	width: 100px;
	margin-left: 500px;
	margin-top: 10px;
	height: 30px;
}